* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#280a48, #20043d); /* Updated to match the new color scheme */
}

.my-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 8vh;
  gap: 5px;
}

.my-nav div {
  border: 1px solid #8964b0; /* Updated to lighter purple */
  border-radius: 15px;
  background-color: #140524; /* Updated to dark purple */
  padding: 5px;
  color: #a18aba; /* Updated to match main h2 color */
  font-size: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: radial-gradient(yellow, #20043d)
}

.cou-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: radial-gradient(yellow, #20043d)
}

.cou-div h3{
  color: yellow;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}